<!-- Created by Manasés Galindo -->

<div id="overlay" class="flex">
    <p ng-click="$root.showSignup = false; $root.loginMessage = '';" id="close"></p>
    <div class="form" id="signup-form">
        <p ng-show="$root.loginMessage" class="alert">{{ $root.loginMessage }}</p>
        <label>Enter your name</label>
        <input ng-class="{error: $root.errorFields.indexOf('first_name') >= 0}" class="box" type="text" ng-model="$root.first_name" placeholder="First name"/>
        <input ng-class="{error: $root.errorFields.indexOf('last_name') >= 0}" class="box" type="text" ng-model="$root.last_name" placeholder="Surname"/>
        <label>Email</label>
        <input ng-class="{error: $root.errorFields.indexOf('username') >= 0}" class="box" type="text" ng-model="$root.username" placeholder="your@email.com"/>
        <label>Password</label>
        <input ng-class="{error: $root.errorFields.indexOf('password') >= 0}" class="box" type="password" ng-model="$root.password"/>
        <label>Address</label>
        <input ng-class="{error: $root.errorFields.indexOf('address') >= 0}"  class="box" type="text" ng-model="$root.address" placeholder="Street / Number"/>
        <input ng-class="{error: $root.errorFields.indexOf('city') >= 0}"  class="box" type="text" ng-model="$root.city" placeholder="City"/>
        <a ng-click="$root.signup()" class="button green large">Sign up</a>
        <small ng-click="$root.showTerms = true">By clicking on 'Sign Up' above, you confirm that you accept the Terms of Use</small>
        <!-- I made a terms.html file, but I am not sure how to make it a popup window like the login and sign up pages -->
    </div>
</div>