<div id="overlay" class="flex">
	<div class="form" id="terms-of-use">
		<label>GatorRenter Terms and Conditions of Use</label>
		<p>Welcome to Gator-renter.com. These Terms & Conditions apply to the GatorRenter website located at gator-renter.herokuapp.com. THIS IS A SOFTWARE ENGINEERING PROJECT FOR SFSU/FAU/FULDA FOR FALL 2016. FOR DEMONSTRATION ONLY</p>
		<label>Your use of this website is governed by these terms & conditions</label>
		<p>BY ACCESSING OR OTHERWISE USING THE SITE YOU AGREE TO THESE TERMS & CONDITIONS. If at any time you do not accept all these Terms & Conditions, you must immediately stop using the Site.</p>
		<label>Content</label>
		<p>All content included on this Site is owned or liscened property of GatorRenter and is protected by copyright, trademark, patent, or other proprietary rights.......to be completed and refined by GatorRenter lawyers.</p>
	</div>
</div>